<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary">Perfil De Empleado</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <form action="" method="post">
            <div class="form-row">
              <input type="text" class="form-control form-control-sm" id="id-empleado" hidden>
              <div class="col-md-3 mb-3">
                <label for="no-empleado">No. Empleado</label>
                <input type="text" class="form-control form-control-sm" id="no-empleado" readonly>
              </div>
              <div class="col-md-4 mb-3">
                <label for="nombre-empleado">Nombre</label>
                <input type="text" class="form-control form-control-sm" id="nombre-empleado">
              </div>
              <div class="col-md-5 mb-3">
                <label for="apellidos-empleado">Apellidos</label>
                <input type="text" class="form-control form-control-sm" id="apellidos-empleado">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-7 mb-3">
                <label for="usuario-empleado">Usuario</label>
                <input type="text" class="form-control form-control-sm" id="usuario-empleado">
              </div>
              <div class="col-md-5 mb-3">
                <label for="contraseña-empleado">Contraseña</label>
                <input type="password" class="form-control form-control-sm" id="contraseña-empleado">
              </div>
            </div>

            <div class="form-group">
              <label for="correo-empleado">Correo Electronico</label>
              <input type="text" class="form-control form-control-sm" id="correo-empleado">
            </div>

            <div class="form-row">
              <div class="col-md-7 mb-3">
                <label for="calle-empleado">Calle</label>
                <input type="text" class="form-control form-control-sm" id="calle-empleado">
              </div>
              <div class="col-md-2 mb-3">
                <label for="nocalle-empleado">No. Int/Ext</label>
                <input type="text" class="form-control form-control-sm" id="nocalle-empleado">
              </div>
              <div class="col-md-3 mb-3">
                <label for="cp-empleado">Código Postal</label>
                <input type="text" class="form-control form-control-sm" id="apellidos-empleado">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="localidad-empleado">Localidad</label>
                <input type="text" class="form-control form-control-sm" id="localidad-empleado">
              </div>
              <div class="col-md-4 mb-3">
                <label for="nocalle-empleado">Estado</label>
                <input type="text" class="form-control form-control-sm" id="nocalle-empleado">
              </div>
              <div class="col-md-4 mb-3">
                <label for="tel-empleado">Teléfono</label>
                <input type="text" class="form-control form-control-sm" id="tel-empleado">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="tipo-empleado">Tipo de Usuario</label>
                <select type="text" class="form-control form-control-sm" id="tipo-empleado">
                  <option value="" selected>Selecciona tipo de usuario</option>
                  <option value="Administrador">Administrador</option>
                  <option value="Durango">Durango</option>
                  <option value="Fresnillo">Fresnillo</option>
                  <option value="Gómez">Gómez</option>
                  <option value="Jeréz">Jeréz</option>
                  <option value="Mazatlán">Mazatlán</option>
                  <option value="Saltillo">Saltillo</option>
                  <option value="San Luis Potosi">San Luis Potosi</option>
                  <option value="Torreon">Torreón</option>
                  <option value="Zacatecas">Zacatecas</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="nocalle-empleado">Estado</label>
                <select type="text" class="form-control form-control-sm" id="nocalle-empleado">
                  <option value="" selected>Selecciona el plantel...</option>
                  <option value="Aguascalientes">Aguascalientes</option>
                  <option value="Durango">Durango</option>
                  <option value="Fresnillo">Fresnillo</option>
                  <option value="Gómez">Gómez</option>
                  <option value="Jeréz">Jeréz</option>
                  <option value="Mazatlán">Mazatlán</option>
                  <option value="Saltillo">Saltillo</option>
                  <option value="San Luis Potosi">San Luis Potosi</option>
                  <option value="Torreon">Torreón</option>
                  <option value="Zacatecas">Zacatecas</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <label for="foto-empleado">Foto Perfil</label>
              <div class="custom-file form-control-sm">
                <input type="file" class="custom-file-input " id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar archivo...</label>
              </div>
            </div>
          </form>


        </div>
        <div class="col-sm-6 col-md-4">
          <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
              <div>
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class=" img-thumbnail mb-2" alt="avatar"
                  style="width: 150px;">
              </div>
              <h5>Derian Eduardo Jara Romero</h5>
              <p class="">Administrador</p>
            </div>
          </div>
          <div class="mb-2">
            <a href="#" class="btn btn-sm btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-edit"></i>
              </span>
              <span class="text">Actualizar Empleado</span>
            </a>
          </div>
          <div class="mb-2">
            <a href="#" class="btn btn-sm btn-danger btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <span class="text">Eliminar Empleado</span>
            </a>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="bajaTMP_empleado">
            <label class="custom-control-label" for="bajaTMP_empleado">Dar de baja temporal</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>