<!-- 404 Error Text -->
<div class="text-center">
    <p class="lead text-gray-800 mb-4">Instituto Empresarial CIEPAA A.C.</p>
    <img src="../../assets/img/logo.png" style="width: 300px;" alt="logo">
    <p class="text-gray-600 mb-0 mt-4">Sistema De Administración De Información</p>
    <p class="text-gray-600 mb-0">Versión: 1.0</p>
    <p class="text-gray-600 mb-0">Terminos de licencia: <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener noreferrer">General Public Licence GPL</a></p>
    <p class="text-gray-600 mb-0">teléfonos: 9228892, 9335992, (492)1450395</p>
    <p class="text-gray-600 mb-0">2020 - Instituto-e</p>
    <a href="index.html">&larr; Volver al panel general</a>
  </div>
